[workspace]
members = [
    "crates/client",
    "crates/entities",
    "crates/migrations",
    "crates/shared",
    "crates/spyglass",
    "crates/tauri",
    "crates/ui-components",

    "apps/web",

    # Public published crates
    "crates/spyglass-plugin",
    "crates/spyglass-lens",
    "crates/spyglass-rpc",
    "crates/spyglass-searcher"
]

[profile.release]
codegen-units = 1
lto = true
incremental = false
opt-level = "s"

[profile.sentry]
inherits = "dev"
debug = true
