[workspace]
members = [
    "crates/client",
    "crates/entities",
    "crates/migrations",
    "crates/shared",
    "crates/spyglass",
    "crates/tauri",
    "crates/ui-components",

    # Public published crates
    "crates/spyglass-plugin",
    "crates/spyglass-lens",
    "crates/spyglass-rpc",
    "crates/spyglass-clippy",
]

exclude = [
    # Excluded due to strict wasm32-unknown-unknown requirement for jsonrpsee-wasm-client
    "apps/web"
]

[profile.release]
codegen-units = 1
lto = true
incremental = false
opt-level = "s"

[profile.sentry]
inherits = "dev"
debug = true
