[package]
name = "spyglass-plugin"
version = "0.1.0"
edition = "2021"
description = "A small client-side library for writing spyglass plugins"
license = "MIT"

[dependencies]
serde = { version = "1.0", features = ["derive"] }

[lib]
name = "spyglass_plugin"
path = "src/lib.rs"
crate-type = ["lib"]