(
    name: "example-plugin",
    author: "spyglass-search",
    description: "Example plugin to provide an example on how to create a plugin.",
    version: "1",
    plugin_type: Lens,
    trigger: "example-plugin",
    // User settings w/ the default value, this will be added the plugin environment
    user_settings: {
         "API_KEY": (
            label: "Example Plugin API Key",
            value: "",
            form_type: Text,
            help_text: Some("Example with custom string configuration")
        ),
        "URL_LIST": (
            label: "Example Plugin Url List",
            value: "",
            form_type: StringList,
            help_text: Some("Example with custom string list configuration")
        ),
        "ENABLE_API": (
            label: "Example Plugin Enable API boolean",
            value: "",
            form_type: Bool,
            help_text: Some("Example with custom boolean configuration")
        ),
    }
)