@import "constants";
@import "normalize";
@import "components/searchbox";
@import "components/lenses";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background: $bg-color;
    color: $fg-color;
    font-family: "San Francisco", Helvetica;
    font-size: 14px;
}

.query-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid $comment;
}

.result-score {
    font-size: 0.5em;
}