(
    name: "firefox-importer",
    author: "a5huynh",
    description: "Sync bookmarks / history from Firefox into Spyglass",
    version: "1",
    plugin_type: Lens,
    trigger: "firefox",
    // User settings w/ the default value, this will be added the plugin environment
    user_settings: {
        "FIREFOX_DATA_FOLDER": (
            label: "Firefox Data Folder",
            value: "",
            form_type: Path,
            help_text: Some("Leave blank for auto-detection. Otherwise, point this to where the Firefox's `places.sqlite` file is found.")
        )
    }
)