@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #404040 #171717;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #171717;
}

*::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 100vh;
    border: 2px solid #171717;
}

*::-webkit-scrollbar-thumb:hover {
    background: #164e63;
}

.light-mode * {
    scrollbar-width: thin;
    scrollbar-color: #404040 white;
}

.light-mode *::-webkit-scrollbar-track {
    background: white;
}

.light-mode *::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 100vh;
    border: 2px solid #171717;
}

.light-mode *::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

mark {
    color: rgb(255 255 255);
    background-color: rgb(14 116 144 / var(--tw-bg-opacity));
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

:root .light-mode {
    --spy-primary-background: #fafafa;
    --spy-light: #e4e5f1;
    --spy-mid: #d2d3db;
    --spy-dark: #9394a5;
    --spy-darker: #484b6a;
}

:root .dark-mode {
    --spy-primary-background: #383838;
}