(
    name: "local-file-importer",
    author: "a5huynh",
    description: "Crawl & index local files. Currently only supports `.md` and `.txt` extensions. Add folders in your user settings to get started!",
    version: "1",
    plugin_type: Lens,
    // User settings w/ the default value, this will be added the plugin environment
    user_settings: {
        "FOLDERS_LIST": (
            label: "Folders List",
            value: "",
            form_type: PathList,
            help_text: Some("List of folders that will be crawled & indexed. These folders will be crawled recursively, so you only need to specify the parent folder.")
        )
    }
)