[package]
name = "spyglass"
version = "22.8.11"
edition = "2021"

[dependencies]
addr = "0.15.3"
anyhow = "1.0"
chrono = { version = "0.4", features = ["serde"] }
dashmap = "5.2"
digest = "0.10"
directories = "4.0"
dirs = "4.0"
ego-tree = "0.6.2"
entities = { path = "../entities" }
futures = "0.3"
hex = "0.4"
hostname = "^0.3"
html5ever = "0.25"
http = "0.2"
jsonrpc-core = "18.0.0"
jsonrpc-ipc-server = "18.0.0"
log = "0.4"
migration = { path = "../migrations" }
notify = "5.0.0-pre.15"
regex = "1"
reqwest = "0.11"
ron = "0.8"
rusqlite = { version = "*", features = ["bundled"] }
sentry = "0.27.0"
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.10"
shared = { path = "../shared" }
spyglass-plugin = { path = "../spyglass-plugin" }
tantivy = "0.18"
tendril = "0.4.2"
tokio = { version = "1", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
tracing-appender = "0.2"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3", features = ["env-filter", "std"]}
url = "2.2"
uuid = { version = "1.0.0", features = ["serde", "v4"], default-features = false }
wasmer = "2.3.0"
wasmer-wasi = "2.3.0"

[lib]
name = "libspyglass"
path = "src/lib.rs"
crate-type = ["lib"]

[[bin]]
name = "spyglass"
path = "src/main.rs"