[package]
name = "spyglass"
version = "23.2.2"
edition = "2021"

[dependencies]
addr = "0.15.3"
anyhow = "1.0"
bytes = "1.2.1"
calamine = "0.19.1"
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "4.0.32", features = ["derive"] }
dashmap = "5.2"
digest = "0.10"
directories = "4.0"
docx =  { git = "https://github.com/spyglass-search/docx-rs", branch = "master"}
entities = { path = "../entities" }
flate2 = "1.0.24"
futures = "0.3"
glob = "0.3.1"
governor = "0.5"
hex = "0.4"
http = "0.2"
ignore = "0.4"
jsonrpsee = { version = "0.16.2", features = ["server"] }
lnk = "0.5.1"
log = "0.4"
mime = "0.3.16"
new_mime_guess = "4.0.1"
nonzero_ext = "0.3.0"
notify = { version = "5.1.0", default-features = false, features = ["serde", "macos_fsevent"] }
notify-debouncer-mini = { version = "*", default-features = false }
open = "3.0"
percent-encoding = "2.2"
regex = "1"
reqwest = { version = "0.11", features = ["json"] }
ron = "0.8"
rusqlite = { version = "*", features = ["bundled"] }
sentry = "0.29.0"
sentry-tracing = "0.29.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
strum = "0.24"
strum_macros = "0.24"
tantivy = "0.18"
tendril = "0.4.2"
thiserror = "1.0.37"
tokio = { version = "1", features = ["full"] }
tokio-retry = "0.3"
tracing = "0.1"
tracing-appender = "0.2"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3", features = ["env-filter", "std"]}
url = "2.2"
uuid = { version = "1.0.0", features = ["serde", "v4"], default-features = false }
warc = "0.3"
warp = "0.3"
wasmer = "2.3.0"
wasmer-wasi = "2.3.0"

# Spyglass libs
auth_core = { git = "https://github.com/spyglass-search/third-party-apis", rev = "dc4355a2b2ca12c7e1640a3f39c275f5428157d0" }
github = { git = "https://github.com/spyglass-search/third-party-apis", rev = "dc4355a2b2ca12c7e1640a3f39c275f5428157d0" }
google = { git = "https://github.com/spyglass-search/third-party-apis", rev = "dc4355a2b2ca12c7e1640a3f39c275f5428157d0" }
migration = { path = "../migrations" }
shared = { path = "../shared", features = ["metrics"] }
spyglass-netrunner = "0.2.7"
spyglass-plugin = { path = "../spyglass-plugin" }
spyglass-rpc = { path = "../spyglass-rpc" }

[lib]
name = "libspyglass"
path = "src/lib.rs"
crate-type = ["lib"]

[[bin]]
name = "spyglass"
path = "src/main.rs"
